{% extends 'base.html' %}

{% block title %}Смена пароля{% endblock %}
{% block pagename %}Смена пароля{% endblock %}
{#{% block short_description %}Здесь вы можете войти в аккаунт{% endblock %}#}
{% block content %}

    {% load crispy_forms_tags %}

    <!--Login-->
    <div class="container py-3 col-sm-12 col-md-10 col-lg-6">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ changepass_form|crispy }}
                    <div class="col text-center">
                        <button class="btn btn-primary" type="submit">Изменить пароль</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}