{% extends 'base.html' %}

{% block title %}Вход{% endblock %}
{%block pagename%}Авторизация{%endblock%}
{% block short_description %}Здесь вы можете войти в аккаунт{% endblock %}
{% block content%}

{% load crispy_forms_tags %}

<!--Login-->
<div class="container py-3 col-sm-12 col-md-10 col-lg-6">
    <form method="POST">
        {% csrf_token %}
        {{ login_form|crispy }}
        <div class="col text-center">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
    <p class="text-center">Еще нет аккаунта? <a href="{% url 'register'%}">Создать аккаунт</a>.</p>
</div>

{% endblock %}