{% extends 'base.html' %}

{% block title %}Цены{% endblock %}
{% block pagename %}Наши товары{% endblock %}
{% block short_description %}Здесь представлены все доступные товары{% endblock %}

{% block content %}
    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            {% for product_id, name, description, price, type, weight in products %}
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">

                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">{{ name }}</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">{{ price }}<small
                                        class="text-muted fw-light"> руб.</small>
                                </h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>{{ type }}</li>
                                    <li>{{ weight }} Mb</li>
                                </ul>
                                <a href="{% url 'pricing' %}product{{ product_id }}"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Подробнее</button></a>
                            </div>
                    </div>

                </div>

            {% endfor %}
        </div>

    </main>
{% endblock %}

