{% extends 'base.html' %}

{% block title %}Роль{% endblock %}
{% block pagename %}Изменение роли пользователя{% endblock %}
{% block short_description %}Здесь вы можете изменить роль пользователя{% endblock %}
{% block content %}
    <p><b>Имя пользователя: </b>{{ user_profile.user.username }}</p>
    <p><b>Полное имя: </b>{{ user_profile.firstname }} {{ user_profile.lastname }}</p>
    <p><b>Эл. адрес: </b>{{ user_profile.user.email }}</p>
    {% load crispy_forms_tags %}
    {{ context }}
    <!--Login-->
    <div class="container py-3 ">
        <form method="POST">
            {% csrf_token %}
            {{ edit_form|crispy }}
            <button class="btn btn-primary" type="submit">Сохранить</button>
        </form>
    </div>

{% endblock %}