{% extends 'base.html' %}

{% block title %}Админ{% endblock %}
{% block pagename %}Админпанель{% endblock %}
{% block short_description %}Товары{% endblock %}
{% block content %}
    <p><a href="{% url 'adminpanel' %}">Назад</a></p>
    <p><a href="{% url 'add_product' %}">Добавить товар</a></p>

     <table class="table">
        <thead>
        <tr>
            <th scope="col">ProductID</th>
            <th scope="col">ProductName</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td><a href="{% url 'adminpanel' %}product/{{ product.pk }}">{{ product.name }} </a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}